<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Asignaturas</title>
    {% load static %}
    <link rel="stylesheet" href="static/style/asignatura.css">
</head>
<body>
    <div class="container">
        <h1>Cursos</h1>
        <div class="grid-container">
            {% for asignatura in asignaturas %}
            <div class="card">
                <div class="card-header">
                    <p>{{ asignatura.nombre_materia }}</p>
                </div>
                <div class="card-body">
                    <p>Profesor: {{ asignatura.profesor }}</p>
                </div>
                <div class="card-footer">
                    <p>Abierto</p>
                    <a href="#">Más información</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
